@import 'libs/normalize.css';
@import 'style/fonts.scss';
@import 'style/_vars.scss';
@import 'style/_animation.scss';



body {
  background-color: $mainbg;
  font-family: 'Euclid-Circular-Regular';
  color: $primary-color;
  // user-select: none;
  font-weight: normal;
  font-style: normal;
  font-size: $mainSize;
}

.container {
  width: 960;
  padding: auto;
  margin: auto;
}


.image {
  margin-top: 20px;
  width: 464px; height: 343px;
  background-size: cover;
  background-image: url('img/abbfp.jpg');
}
.image:hover {
  
  // filter: contrast(160%);
  filter: saturate(1.5)
}
header {
  border-bottom: $bgSelected 10px solid;
  margin-top: 20px;

}

header div.hdrleft {
  display: flex;
  flex-direction: column;
  height: 75px;
  justify-content: flex-end;
  align-items: flex-end;
  -ms-flex-align: end;
}

.logo {
  margin-left: 45px;
  width: 400px;
}

.logo h1, .logo h2 {
  padding: 0px;
  line-height: normal;
  margin: 0px;
  font-size: 31px;
}
.logo h2 {
  color: $grey;
  font-size: 28px;
}
//Language control start
.langCtrl {
  top: 10px; 
  right: 20px;
}
.langCtrl ul {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}


.langCtrl ul li {
  list-style-type: none;
  flex-direction: column;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  padding: 0px 5px;
  border-left: grey 0px solid;
}

.langCtrl .selected {
  font-weight: bold;
}
//Language control end


//Top navigation start
.topMenu {
  justify-content: flex-end;
  align-items: flex-end;
  -ms-flex-align: end;
}

.topMenu ul {
    margin: 0; padding:0;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  background-color: none;
  flex-wrap: nowrap ;
  justify-content: flex-end;
  align-items: flex-end;
  -ms-flex-align: end;
  
}

.topMenu ul li {
  list-style-type: none;
  flex-direction: column;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  text-align: center;
}
.topMenu ul li a, .topMenu ul li a:link, .topMenu ul li a:visited {
  background-color: $bgNonactive;
  padding: 2px 10px 2px 10px;
  width: 100px;
  display: block;
}
.topMenu ul li a:hover, .topMenu ul li a.selected {
  background-color: $bgSelected ;
}



//Top navigation end

.about {
  padding-top: 6em;
  padding-left: 1em;
}

a.more,  a.more:link, a.more:visited {
  color: #000;
  font-weight: bold;
  font-size: $mainSize + 0.07;
}

.ant-divider-horizontal {
  margin: 10px 0px;
}
.line {
  border-top: $bgSelected 5px solid;
  border-bottom: $bgSelected 5px solid;
}

.fpslider {
  display: flex;
  flex-direction: row;
  justify-content: space-between ;
}
.fpslider div {

  padding: 5px;
  margin: 5px;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
}

// .row {
//   display: flex;
//   flex-direction: row;
//   flex-basis: auto;
// }
// .row div {
//   flex: 1 1 auto;
// }
// .row:nth-child(1) {
//     width: 450px;
// }
// .row div:nth-child(2) {
//   width: 500px;
//   background-color: #CCC;
// }

.education, .skills {
  width: 447px; height: 150px;
  display: block;
}
.skills_on {
  background-image: url('img/skills_on.png');
}
.skills_off {
  background-image: url('img/skills_off.png');
}

.education_on {
  background-image: url('img/education_on.png');
}
.education_off {
  background-image: url('img/education_off.png');
}

footer {
  font-size: 10pt;
}